@import '../../css-vars.css';

.githubsummarycontainer {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.searchbutton {
    cursor: pointer;
    background-color: var(--primary-backgroud);
}

.searchbutton:hover {
    background-color: var(--primary-color);
    border-radius: 8px;
}

.usernameinput {
    width: 50%;
    font-size: large;
    height: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4rem;
    justify-items: center;
    gap: 2rem;
    width: 90%;
}

.projecttile {
    border: solid var(--accent-color) 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titl titl titl"
        "desc desc desc"
        "desc desc desc"
        "topi topi topi"
        "crat crat watc";
    cursor: pointer;
    gap: 0.5rem;
    width: 16rem;
    min-height: 8rem;
}

.projecttile:hover {
    background-color: var(--primary-color);
}

.projecttitle {
    font-size: medium;
    font-weight: bold;
    grid-area: titl;
    justify-self: center;
}

.projectdesc {
    grid-area: desc;
    font-weight: lighter;
    font-size: x-small;
}

.watchers {
    grid-area: watc;
    font-size: x-small;
}

.created_date {
    grid-area: crat;
    font-size: x-small;
}

.topicscontainer {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    grid-area: topi;
    font-size: small;
}

.topicscontainer>div {
    font-size: small;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
}

@media screen and (max-width: 1360px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1040px) {
    .content {
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

.custom-card {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.custom-overlay {
    background-color: var(--default-background-color);
}