:root{
    --accent-color: tomato;
}
.app{
    display: grid;
    grid-template-areas: "navbar body";   
    grid-template-columns: 1fr 8fr;
    padding: 0.5em;
}
.mainBody{
    grid-area: body;
    display: flex;   
    flex-direction: column;
}
.searchTools{
    padding: 2rem;
}
.searchInput{
    width: 75vw;
}
.toolsGrid{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: wrap;
    padding-left: 2rem;
}
.toolsCard{
    width: 24em;
}
.navBar{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 95vh;
}
.infoBar{
    flex: 1;
}
.toolsList{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.toolLink{
    /* border: 0.1em solid tomato; */
    border-radius: 1em;
    padding: 0.1em;
    cursor: pointer;
}
.toolLink:hover{
    opacity: 70%;
    color: var(--accent-color);
}
.tags{
    flex: 1;
    padding: 0.5em;
    display: flex;
    gap: 0.5em;    
    flex-wrap: wrap;
    align-content: flex-start;
}
.tag:hover{
    opacity: 70%;
    color: var(--accent-color);
}
.socialLinks{
    align-self: flex-end;
}
.tag{
    border-radius: 15%;
    height: 2em;
    cursor: pointer;
}
.siteHeader{
    font-size: 2.3em;
    cursor: pointer;
}
@media (max-width: 767px) {
    .app {
        grid-template-areas: "navbar"
                             "body";
        grid-template-columns: 1fr;
    }
    .toolsGrid {
        flex-direction: column;
    }
    .navBar{        
        height: 30vh;
    }
}