@import '../../css-vars.css';

.container-pretify-ip{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 2em;
}

.custom-text-input{
    height: 80vh;
    text-indent: 0.5em;    
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    flex-wrap: wrap;
}

.text-output{
    height: 80vh;
    display: grid;
    grid-template-rows: 25fr 1fr;
}

@media screen and (max-width: 767px) {
    .container-pretify-ip {
        grid-template-columns: 1fr;
        gap: 0.6em;
    }
    .custom-text-input{
        height: 35vh;
    }
    .text-output{
        height: 30vh;        
    }
    .buttons{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.outputButtons > div {
    display: flex;
    gap: 0.5em;
}

.inputButtons{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: 0.4em;
}
