@import '../../css-vars.css';

.container-pretify{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 2em;
}

.custom-text-input{
    height: 80vh;
    text-indent: 0.5em;    
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
}

.text-output{
    height: 80vh;
    display: grid;
    grid-template-rows: 25fr 1fr;
}

.syntax-highlighted-text{
}

@media screen and (max-width: 600px) {
    .container-pretify {
        grid-template-columns: 1fr;
    }
}
